h3{
	text-align: center;
}

img{
	height:125px;
	width:125px;
}

.thumbnail {
	text-align: center;
	vertical-align: bottom;
	width:17%;
	margin:2%
}



@media only screen and (min-width:992px){
	img {
	height:125px;
	width:125px;
	}
} 